setuptools~=60.9.3
matplotlib~=3.5.1
numpy~=1.22.2
Pillow~=9.0.1
tqdm~=4.62.3
Pebble~=4.6.3
scikit-image~=0.19.2
streamlit~=1.6.0
PyMuPDF~=1.19.5
pytesseract~=0.3.9
pandas~=1.4.1
spacy~=3.2.2
psutil~=5.9.0
plotly~=5.6.0
kaleido~=0.2.1
Pweave~=0.30.3
dill~=0.3.3
scikit-learn~=1.0.2
pdfminer.six==20201018
opencv-python~=4.5.5.62
ImageHash~=4.2.1
func-timeout~=4.3.5
mmh3~=3.0.0
PyYAML~=6.0
seaborn~=0.11.2
docstring-inheritance~=1.0.0
pypdfium2~=0.14.0